<p id="notice"><%= notice %></p>
<%= session[:enemy]  %>
<p>
</p>
<%= form_tag({action: :player_attack}) do %>
  <%= label_tag :アクション %>
  <%= text_field_tag :player_attack %>
  <%= submit_tag :実行 %>
<% end %>

<%= link_to '帰る', maps_path %>
