<p id="notice"><%= notice %></p>
<%= session[:map_id]  %>
<p>
</p>
<%= form_tag({action: :attack}) do %>
  <%= label_tag :アクション %>
  <%= text_field_tag :attack %>
  <%= submit_tag :実行 %>
<% end %>

<%= link_to '帰る', maps_path %>
